#signupsheet_date span.label{
    font-size: 1.5em;
}

#signupsheet_subscribe,
#signupsheet_early_bird{
    margin-top:1em;
}

#registration-open p.seatsleft{
    font-size: 1.2em;
}

form.import_registrant_form{
    margin-bottom: 1em;
    margin-top: 1em;
}

form.import_registrant_form label{
    margin-top: 0.5em;
}

.availableRegistrants {
	margin-bottom: 1em;
}
.availableRegistrants:after {
	content: '';
	display: block;
    clear: both;
}

.registrantNotificationSlot {
	display: block;
	width: 50%;
	margin: 0.2em 0;
}

.registrantLeft {
	float: left;
}

.registrantRight {
	float: right;
}

.registrantsCommands {
	font-size: 110%;
	margin-bottom: 1em;
	margin-top: 0.5em;
}
.registrantsCommands label {
	margin-right: 1em;
}
